Repository labd/graphql-codegen-faker-fixtures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

test: update snapshots
  tests/__snapshots__/fragment_spread.test.ts.snap
  tests/__snapshots__/inline_fragment.test.ts.snap
Due: none

feat: add configration options to plugin
  .lintstagedrc.json
  example/codegen.ts
  example/codegen.yml
  example/queries.ts
  example/schema.graphql
  src/index.ts
  src/plugin.ts
  src/types.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

test: add configuration tests
  tests/__snapshots__/configuration.test.ts.snap
  tests/configuration.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

refactor: change configuration syntax
  example/codegen.ts
  example/codegen.yml
  example/queries.ts
  example/schema.graphql
  src/plugin.ts
  src/types.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: add extra configuration options
  example/codegen.ts
  example/codegen.yml
  src/plugin.ts
  src/types.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: update eslint config
  pnpm-lock.yaml
Due: prettier --write

chore: add description for scalars config type
  src/types.d.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: resolve lockfile conflicts
  pnpm-lock.yaml
Due: prettier --write

chore: align codegen example configs
  example/codegen.yml
Due: prettier --write

chore: add changeset
  .changeset/few-hairs-refuse.md
Due: prettier --write

feat: add lifecycle hook to examples
  example/codegen.ts
  example/codegen.yml
Due: prettier --write, eslint --fix --max-warnings 0

chore: use .ts file for types instead of .d.ts
  src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: add configuration options to plugin (#6)
  .changeset/few-hairs-refuse.md
  .lintstagedrc.json
  example/codegen.ts
  example/codegen.yml
  example/queries.ts
  example/schema.graphql
  pnpm-lock.yaml
  src/index.ts
  src/plugin.ts
  src/types.ts
  tests/__snapshots__/configuration.test.ts.snap
  tests/__snapshots__/fragment_spread.test.ts.snap
  tests/__snapshots__/inline_fragment.test.ts.snap
  tests/configuration.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

docs: build out documentation
  .changeset/silent-beers-cross.md
  README.md
Due: prettier --write

fix: codeblock in details
  README.md
Due: prettier --write

fix: language tag
  README.md
Due: prettier --write

fix: add title
  README.md
Due: prettier --write

fix: remove code from summary
  README.md
Due: prettier --write

fix: wording
  README.md
Due: prettier --write

docs: build out documentation (#12)
  .changeset/silent-beers-cross.md
  README.md
Due: prettier --write

fix: add @graphql-codegen/cli as peer dependency
  .changeset/unlucky-rocks-applaud.md
  package.json
Due: prettier --write

docs: fix example configurations plugin field
  README.md
Due: prettier --write

feat: add support for custom scalars
  .changeset/lazy-bikes-dress.md
  README.md
  example/codegen.ts
  example/codegen.yml
  example/queries.ts
  example/schema.graphql
  src/plugin.ts
  src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: add support for custom scalars (#14)
  .changeset/lazy-bikes-dress.md
  README.md
  example/codegen.ts
  example/codegen.yml
  example/queries.ts
  example/schema.graphql
  src/plugin.ts
  src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

ci: remove manual git identity setting
  .changeset/four-socks-sing.md
  .github/workflows/release.yml
Due: prettier --write

fix: codegen config type
  .changeset/silent-parrots-type.md
  src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: repeat utility function expose index
  .changeset/ten-onions-leave.md
  src/plugin.ts
Due: prettier --write, eslint --fix --max-warnings 0

test: update configuration snapshot
  tests/__snapshots__/configuration.test.ts.snap
Due: none

fix: incorrect subfield generation from config
  .changeset/late-pens-warn.md
  example/queries.ts
  example/schema.graphql
  src/plugin.ts
  tests/__snapshots__/configuration.test.ts.snap
  tests/configuration.test.ts
Due: prettier --write, eslint --fix --max-warnings 0

feat: add namingconvention support
  .changeset/breezy-icons-hug.md
  package.json
  src/index.ts
  src/plugin.ts
  src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

fix: lock file update
  pnpm-lock.yaml
Due: prettier --write

docs: add dependencies to install command
  .changeset/early-masks-rest.md
  README.md
Due: prettier --write

chore: deps changeset
  .changeset/dirty-tips-buy.md
Due: prettier --write

chore(deps): bump postcss from 8.4.27 to 8.4.31 (security vulnerability)
  .changeset/rude-ties-invent.md
Due: prettier --write

docs: update naminconvention documentation & comments
  .changeset/fluffy-ladybugs-explode.md
  README.md
  src/plugin.ts
  src/types.ts
Due: prettier --write, eslint --fix --max-warnings 0

chore: add changeset
  .changeset/khaki-ladybugs-float.md
Due: prettier --write

chore: add changeset
  .changeset/clever-cameras-whisper.md
Due: prettier --write

chore: add changeset
  .changeset/eight-dogs-laugh.md
Due: prettier --write

chore: add changeset
  .changeset/tidy-doors-nail.md
Due: prettier --write

Path conditions:
  prettier --write: (((any of: **/*.json) or (any of: **/*.md)) or (any of: **/*.ts)) or (any of: **/*.y{,a}ml)
  eslint --fix --max-warnings 0: any of: **/*.ts
